/* ===== MENU ===== */

nav{
position:sticky;
top:0;
z-index:1000;
background:#ffffff;
padding:12px;
display:flex;
justify-content:center;
gap:10px;
box-shadow:0 2px 8px rgba(0,0,0,.1);
}

nav a{
text-decoration:none;
color:#0b5fa5;
font-weight:bold;
padding:10px 14px;
border-radius:8px;
transition:.2s;
}

nav a:hover{
background:#0b5fa5;
color:white;
}